<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: headfragment">


</head>
<body>

<div th:replace="fragments/general.html :: pageHeadByRole"></div>


<h4 th:text="${actionDescription}"></h4>
<hr class="hr">

<form th:action="@{/address/new/}">
    <input class="btn btn-success  width-250 btn-sm"
           type="submit" value="Nowy adress">
</form>

<table>
    <tr align="left">
        <th>ID</th>
        <th>Ulica</th>
        <th>Numer</th>
        <th>Miasto</th>
        <th>Kod pocztowy</th>
        <th>Państwo</th>
        <th>Adres dostawy</th>
    </tr>

    <th:block th:each="address : ${addresses}">
        <tr align="left">
            <td th:width="150" th:text="${address.id}"></td>
            <td th:width="300" th:text="${address.street}"></td>
            <td th:width="150" th:text="${address.streetNumber}"></td>
            <td th:width="150" th:text="${address.city}"></td>
            <td th:width="150" th:text="${address.postCode}"></td>
            <td th:width="150" th:text="${address.country}"></td>
            <td th:width="150" th:if="${address.isDelivery}">TAK</td>
            <td th:width="150" th:unless="${address.isDelivery}">NIE</td>
            <td>
                <form th:action="@{'/address/update/{id}'(id=${address.id})}">
                    <input class="btn btn-info btn-sm"
                           type="submit" value="Edytuj">
                </form>
                <form th:action="@{'/address/delete/{id}'(id=${address.id})} ">
                    <input class="btn btn-danger btn-sm"
                           type="submit" value="Usuń"
                           data-confirm-delete="Czy na pewno chcesz usunąć adres?"
                           onclick="return confirm(this.getAttribute('data-confirm-delete'))">
                </form>
            </td>
        </tr>
    </th:block>
</table>

</body>
</html>