<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: headfragment">

</head>
<body>

<div th:replace="fragments/general.html :: pageHeadByRole"></div>

<form th:action="@{${action}}">

    <input class="form-control width-250" type="text" placeholder="Hasło" th:field="${user.currentPassword}">
    <input class="form-control width-250" type="password" placeholder="Nowe hasło" th:field="${user.newPassword}">
    <input class="form-control width-250" type="password" placeholder="Powtórz hasło" th:field="${user.newPassword2}">
    <br>

    <input class="btn btn-success width-250" type="submit" value="Zapisz"/>
</form>

</body>
</html>